<p class="fields">
  <%=f.label :point_id, "Point ID:" -%>
  <%=f.collection_select(:point_id, Point.find(:all), :id, :name, {:prompt => true}) -%><br />

  <%=f.label :endpoint_id, "Endpoint ID:" -%>
  <%=f.collection_select(:endpoint_id, Point.find(:all), :id, :name, {:prompt => true}) -%><br />

  <%=f.label :direction, "Direction:"-%>
  <%=f.text_field :direction -%><br />

  <%=f.hidden_field :_destroy -%>
  <%=link_to_function "remove above edge", "remove_fields(this)" -%><br />
</p>
