<div class="comment">
  ========================<br />
  We want this:
  <h4>EDGE:</h4>
  <p> From? <br />
    <%= collection_select(:edge, :point_id, Point.find(:all), :id, :name, {:prompt => true}) %>
  </p>
  
  <p> To? <br />
    <%= collection_select(:edge, :endpoint_id, Point.find(:all), :id, :name, {:prompt => true}) %>
  </p>
  ========================
</div>

<% form_for(@path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <h3>Edges</h3>
  <% f.fields_for :edges do |builder| %>
    <%=builder.label :point_id, "Point ID:" -%>
    <%#builder.text_field :point_id -%>
    <%=builder.collection_select(:point_id, Point.find(:all), :id, :name, {:prompt => true}) -%><br />
    
    <%=builder.label :endpoint_id, "Endpoint ID:" -%>
    <%#builder.text_field :endpoint_id -%>
    <%=builder.collection_select(:endpoint_id, Point.find(:all), :id, :name, {:prompt => true}) -%><br />
    
    
  <% end %>
  <p>
    <%= f.submit 'Submit' %>
  </p>

<% end %>
