<!--<% form_for(@path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit 'Submit' %>
  </p>

<% end %>
-->

<label for="path"> Name </label>
<input type="text" id="path_name" name="m[path_name]" style="width:25%;"/>'

<label for="path"> Description </label>
<input type="text" id="path_description" name="m[path_description]" style="width:25%;"/>'

<button id="execute_path"> Create path!!! </button>
<br/>
<p>
<p>
<div class ="sidebar" id = "ask_edge_description">

</div>