<h1>New path</h1>

<% form_for(@path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


  <% form_for :edge do |f_edge| %>
    <% Edge.all.each do |edge| %>
      <%= f_edge.radio_button(:edge_id, edge.id) -%> 
      <%= f_edge.label "From #{Point.find_by_id(edge.point_id).name} -> #{Point.find_by_id(edge.to_point_id).name}" %>
    <br />
    <% end %>
  <% end %>


<%= link_to 'Back', paths_path %>
