<% content_for :head do %>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Create a path</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<%= javascript_include_tag 'path'%>
<script type="text/javascript">
function foo() {
//var markers = new Array();
var m;
<% for point in @points do %>  
    m  = new google.maps.Marker({
	position: new google.maps.LatLng(<%= point.lat + "," + point.lng %>), 
	map: map, 
	title: '<%= point.name %>'});
/* To be implemented later
    var infoWindow = new google.maps.InfoWindow({
	content: 
    });
        google.maps.event.addListener(marker, 'click', function(){
        openInfoWindow(infoWindow, marker);
		
    });


    //markers.push(temp);*/
<% end %>
}


window.onload = foo;
</script>
<% end %>

<h1>Click points on map to create a path</h1>

<ol class="instructions">
	<li>Give a name and a description for this path</li>
	<li>Click on the map to specify points along the path. These points have markers, but they are not points in the database until you mark them as points of interest (described next).</li>
	<li>In order to create a point of interest (Point in the database): Click on the markers which appears and fill out the form in the info window that appears. Make sure to click Create in the infowindow and close the infowindow. Also, at this Time you have to mark the marker as a POI right after you create the marker on the map.</li>
	<li>When done, Click submit path button to create the path.</li>
	<li>NOTE: The first and last markers must be POIs.</li>
</ol>

<%#= render :partial => 'form' -%>

<div id="mapContainer" style="width:100%; height:500px"></div>
<div id="message"></div>

<%= link_to 'Back', paths_path %>

<% content_for :sidebar do %>

	<%= render :partial => 'form' -%> <br />
	<%= render :partial => 'edges/edges_from_path' %>
<%
=begin %>
	Edges should appear here as they are added. <br />
	Please provide a description for the edges as needed. <br />
<%
=end %>	
	
<% end%>


