<div id="edges_from_path">
<!--
A form showing all the edges in a specific path, as long as edges were specified correctly
-->
The edges in this path are:
<%= @edges %>
<% @edges.each do |edge| %>
  <tr>
    <td><%=h Point.find(edge.point_id).name %></td>
    <td><%=h Point.find(edge.endpoint_id).name %></td>
    <td><%=h edge.direction %></td>
	<td><%=h edge.polyline %></td>
    <td><%= link_to 'Show', edge %>
    	<%= link_to 'Edit', edit_edge_path(edge) %>
    	<%= link_to 'Destroy', edge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end unless @edges.nil? -%> <%# Doesn't display the form if no edges exist%>
</div>