<h1>Editing edge</h1>

<% form_for(@edge) do |f| %>
  <%= f.error_messages %>

  <p> From? <br />
    <%= collection_select(:edge, :point_id, Point.find(:all), :id, :name, {:prompt => true}) %>

  </p>
  <p> To? <br />
     <%= collection_select(:edge, :endpoint_id, Point.find(:all), :id, :name, {:prompt => true}) %>

    <br />

  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @edge %> |
<%= link_to 'Back', edges_path %>
