<h1>Editing edge</h1>

<% form_for(@edge) do |f| %>
  <%= f.error_messages %>

  <p> From? <br />
	<% for fpoint in Point.all do %>
		<%= f.radio_button(:point_id, fpoint.id) %> <%= f.label fpoint.name%>
		<br />
    <% end %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </p>
  <p>
    <%= f.label :direction %><br />
    <%= f.text_field :direction %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @edge %> |
<%= link_to 'Back', edges_path %>